## For local docker compose ##

# Frontend
SERVER_NAME=localhost
BACKEND_ALB_URL=http://backend:3200

# Backend
DB_HOST=host.docker.internal # ← points to your local MySQL
DB_PORT='3306'
DB_USER='root'
DB_PASSWORD='12345678'
DB_NAME='react_node_app'